<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.volleyball.mapper.MemberMapper">

  <select id="findAll" resultType="com.example.volleyball.entity.Member">
    SELECT * FROM members
  </select>


  <insert id="insert">
    INSERT INTO members (name, uniform_number, join_date)
    VALUES (#{name}, #{uniformNumber}, #{joinDate})
  </insert>

</mapper>
